extends layout

block content
  
  html 
    head 
    body
      img(src='/images/shib_logo.png')
      
      - var val = Math.floor(Math.random() * 5);
      - const quotes = ["Logic will get you from A to B. Imagination will take you everywhere.", "There are 10 kinds of people. Those who know binary and those who don't.", "There are two ways of contructing a software design. One way is to make it so simple that there are obviously no deficiencies and the other is to make it so complicated that there are no obvious deficiencies", "It's not that I'm so smart, it's just that I stay with problems longer.", "It is pitch dark. You are likely to be eaten by a grue."];
      each n, i in quotes
        if (i == val)
          p= n

      p 
        strong Repository 
        | https://github.com/zyuezheng/workshop01